[Unit]
Description=LED Display Demo

[Service]
Type=simple
ExecStart=/home/pi/lab-clock/start.sh
Restart=always
WorkingDirectory=/home/pi/lab-clock

[Install]
WantedBy=multi-user.target

